# Variables de entorno
.env
.env.local
.env.*.local
config.env
secrets.json
.env.hir3d---interview-simulator

# Claves y certificados
*.key
*.pem
*.p12

# Carpetas de secretos
secrets/
credentials/

# Python
__pycache__/
*.pyc
venv/
env/

# Node
node_modules/
npm-debug.log

# IDEs
.vscode/
.idea/
*.swp
*.swo